# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/ColdSoupGenerator/Debug
/ColdSoupGenerator/x64/Debug
/ColdSoupGenerator/ColdSoupGenerator.VC.VC.opendb
/ColdSoupGenerator/ColdSoupGenerator.VC.db
/ColdSoupGenerator/.vs/ColdSoupGenerator/v15
/ColdSoupGenerator/ColdSoupGenerator/Debug
/ColdSoupGenerator/ColdSoupGenerator/x64/Debug
/ColdSoupGenerator/.vs/ColdSoupGenerator/v14/.suo
